@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

.App {
  text-align: center;
  background-color: rgba(255, 192, 203, 0.591);
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}


