.about-image {
  /* position: relative; */
  display: flex;
  justify-content: center;
  padding: 100px;
  /* margin-bottom: 80px; */
}

.about {
  /* position: absolute; */
  width: 70%;
  display: inline-block;
  border: solid black 1px;
  border-radius: 12px;
}

.about-detail {
  padding: 0 17px;
}

.img-me {
  height: 200px;
  border: solid black 1px;
  /* border-bottom: 0px; */
  border-radius: 10px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
  .about-image {
    display:contents;
  }

  .about {
    width: 300px;
  }

  .img-me {
    width: 300px;
    height: auto;
    margin-top: 50px;
  }
}
